.color__primary
    color : $color-primary

.color__secondary
    color : $color-secondary
.color__secondary-empty
    color : $color-secondary-empty

a
    text-decoration: none
    color: inherit

p
    margin: 0

*:focus
    border: 2px solid #FFGGGG
    opacity: 0.8